<% layout('/layouts/boilerplate') %>

<h1>Setup Your Profile</h1>
<form action="/users/setup-profile" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="bio" class="form-label">Bio:</label>
        <textarea name="bio" id="bio" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Profile Image:</label>
        <input type="file" name="post[image]" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
